[Unit]
Description=Sensor HTTP Server
After=network.target data-controller.service esp01-tcp-server.service
Requires=data-controller.service esp01-tcp-server.service

[Service]
Type=simple
User=debian
WorkingDirectory=/home/debian/server
ExecStartPre=/bin/bash -c 'until [ -p /tmp/sensor_pipe ]; do sleep 1; done'
ExecStart=/home/debian/server/sensor_server
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
