/delete-node/ &storage_partition;

/ {
    vbat_div_en: vbat-div-en {
        compatible = "gpio-leds";
        vbat_enable: vbat-enable {
            gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;
        };
    };
    zephyr,user {
        io-channels = <&adc 0>;
    };
};
&pwm0 {
    status = "okay";
    pinctrl-0 = <&pwm0_default>;
    pinctrl-1 = <&pwm0_sleep>;
    pinctrl-names = "default", "sleep";
};
&pinctrl {
    pwm0_default: pwm0_default {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 9)>;
        };
    };
    pwm0_sleep: pwm0_sleep {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 9)>;
            low-power-enable;
        };
    };
};
&adc {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;
    channel@0 {
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1_6";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <NRF_SAADC_AIN0>; /* P0.02 */
        zephyr,resolution = <12>;
    };
};
&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;
        storage_partition: partition@ed000 {
            label = "storage";
            reg = <0x000ed000 0x00004000>;
        };
        log_partition: partition@f1000 {
            label = "log-partition";
            reg = <0x000f1000 0x0000f000>;
        };
    };
};
