[Unit]
Description=Data Controller Service
After=network.target

[Service]
Type=simple
User=debian
WorkingDirectory=/home/debian/controller
ExecStart=/home/debian/controller/data_controller
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
